<template>
  <section class="box">
      <!-- Search Time Series -->
      <div class="row">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left is-expanded">
                <input class="input" placeholder="e.g. time series data" v-model="searchFilter">
                <span class="icon is-small is-left">
                  <b-icon icon="magnify" size="is-small"/>
                </span>
              </div>
            </div>
            <div class="field is-grouped is-grouped-right">
              <p class="control">
                <download-excel :data="data" type="csv" class="button is-light">Export</download-excel>
              </p>
            </div>
          </div>
        </div>
      </div>
      <b-table
        :data="filteredTimeSeriesData"
        :loading="loading"
        :paginated="paginated"
        :perPage="perPage"
        narrowed>
          <template slot="empty">
            <section class="section">
              <div class="content has-text-grey has-text-centered">
                <p>
                  <b-icon icon="emoticon-sad" size="is-large"></b-icon>
                </p>
                <p>No results returned!.</p>
              </div>
            </section>
          </template>
          <template slot-scope="props">
            <b-table-column field="date" label="Date" sortable>
              {{ props.row.date }}
            </b-table-column>
            <b-table-column field="open" label="Open" sortable>
              {{ props.row.open }}
            </b-table-column>
            <b-table-column field="close" label="Close" sortable>
              {{ props.row.close }}
            </b-table-column>
            <b-table-column field="high" label="High" sortable>
                {{ props.row.high }}
            </b-table-column>
            <b-table-column field="low" label="Low" sortable>
              {{ props.row.low }}
            </b-table-column>
            <b-table-column field="volume" label="Volume" sortable>
                {{ props.row.volume }}
            </b-table-column>
          </template>
      </b-table>
  </section>
</template>

<script>
export default {
  name: 'TimeSeriesDataTable',
  data() {
    return {
      data: [],
      loading: false,
      paginated: true,
      perPage: 15,
      searchFilter: ''
    }
  },
  props: {
    timeSeriesId: {
      required: true
    }
  },
  computed: {
    filteredTimeSeriesData() {
      const dateRegEx = new RegExp(this.searchFilter, 'i')
      const highRegEx = new RegExp(this.searchFilter, 'i')
      const lowRegEx = new RegExp(this.searchFilter, 'i')
      const openRegEx = new RegExp(this.searchFilter, 'i')
      const closeRegEx = new RegExp(this.searchFilter, 'i')
      const volumeRegEx = new RegExp(this.searchFilter, 'i')
      const data = []
      let i = 0
      for (i in this.data) {
        if ((this.data[i].date != null && this.data[i].date.match(dateRegEx)) ||
          (this.data[i].high != null && this.data[i].high.match(highRegEx)) ||
          (this.data[i].low != null && this.data[i].low.match(lowRegEx)) ||
          (this.data[i].open != null && this.data[i].open.match(openRegEx)) ||
          (this.data[i].close != null && this.data[i].close.match(closeRegEx)) ||
          (this.data[i].volume != null && this.data[i].volume.match(volumeRegEx))) {
          data.push(this.data[i])
        }
      }
      return data
    }
  },
  methods: {
    async loadAsyncData() {
      this.loading = true
      const response = await this.$axios.$get(`/timeseries/${this.timeSeriesId}/timeseriesdata`)
      this.data = response.data
      this.loading = false
    }
  },
  mounted() {
    this.loadAsyncData()
  }
}
</script>
