<template>
  <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
      <p class="modal-card-title">Add to Watchlist</p>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Choose WatchList</label>
        <div class="control">
          <WatchlistSelect v-model="selectedWatchlists" @change="handleWatchlistSelected" />
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger" @click="$parent.close()">Close</button>
      <button class="button is-success" @click="addToWatchlist">Add {{timeSeriesToAdd.length}} time series to watchlist</button>
    </footer>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import WatchlistSelect from '@/components/watchlists/WatchlistSelect'
export default {
  name: 'AddToWatchListForm',
  components: {
    WatchlistSelect
  },
  props: {
    timeSeriesToAdd: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      selectedWatchlists: []
    }
  },
  methods: {
    ...mapActions({
      addTimeSeriesToWatchlist: 'watchlist/addTimeSeriesToWatchlist'
    }),
    handleWatchlistSelected(value) {
      this.selectedWatchlists = value
    },
    addToWatchlist() {
      const data = {
        watchlists: this.selectedWatchlists,
        timeSeries: this.timeSeriesToAdd
      }
      this.addTimeSeriesToWatchlist(data)
      this.$parent.close()
    }
  }
}
</script>
