<template>
  <multiselect
    :value="selected"
    :options="data"
    :multiple="true"
    :close-on-select="true"
    placeholder="Watchlists"
    label="name"
    track-by="name"
    @input="updateSelected">
  </multiselect>
</template>

<script>
import { mapActions } from 'vuex'
import Multiselect from 'vue-multiselect'
export default {
  name: 'WatchlistSelect',
  components: {
    Multiselect
  },
  data() {
    return {
      data: [],
      selected: []
    }
  },
  methods: {
    ...mapActions({
      getWatchlists: 'watchlist/getWatchlists'
    }),
    updateSelected(selected) {
      this.selected = selected
      this.$emit('change', selected)
    },
    async loadAsyncData() {
      this.loading = true
      this.data = await this.getWatchlists()
      this.loading = false
    }
  },
  mounted() {
    this.loadAsyncData()
  }
}
</script>
