<template>
  <div class="column">
    <h3 class="title is-3">{{ watchlistTitle }}</h3>
    <form v-on:submit.prevent="saveWatchlist">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" placeholder="e.g. watchlist name" v-model="watchlist.name" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" placeholder="Description of watchlist" v-model="watchlist.description" required></textarea>
        </div>
      </div>
      <!-- Time Series Codes -->
      <div class="field">
        <label class="label">Select Time Series Code</label>
        <div class="control">
          <TimeSeriesCodeSelect v-model="watchlist.watchlist_entries" @change="handleTimeSeriesCodeSelected"/>
        </div>
      </div>
      <!-- Delete button -->
      <div class="field is-horizontal">
        <div class="field-body">
          <div v-if="watchlist.id > 0" class="field is-grouped is-grouped-left">
            <p class="control">
              <button v-on:click.prevent="confirmDeleteWatchlist" class="button is-danger">Delete</button>
            </p>
          </div>
          <!-- Save and Cancel Buttons -->
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <button type="submit" class="button is-success">Save</button>
            </p>
            <p class="control">
              <nuxt-link :to="cancelRoute" class="button is-light">Cancel</nuxt-link>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import TimeSeriesCodeSelect from '@/components/controls/TimeSeriesCodeSelect'
export default {
  name: 'WatchlistForm',
  components: {
    TimeSeriesCodeSelect
  },
  data() {
    return {
      baseUrl: 'watchlists'
    }
  },
  props: {
    watchlistTitle: {
      type: String,
      default: 'Watchlist'
    },
    watchlist: {
      type: Object,
      default() {
        return {
          name: '',
          description: ''
        }
      }
    },
    cancelRoute: {
      type: String,
      default: '/watchlists'
    },
    saveRoute: {
      type: String,
      default: '/watchlists'
    },
    deleteRoute: {
      type: String,
      default: '/watchlists'
    }
  },
  methods: {
    async saveWatchlist() {
      let dynamicRoute = 'watchlists'
      if (this.watchlist.id > 0) {
        dynamicRoute = dynamicRoute + '/' + this.watchlist.id
      }
      let method = this.$axios.$post
      if (this.watchlist.id > 0) {
        method = this.$axios.$put
      }
      const response = await method(dynamicRoute, this.watchlist)
      this.watchlist = response.data
      this.$router.push({
        path: this.saveRoute
      })
    },
    confirmDeleteWatchlist() {
      this.$dialog.confirm({
        title: 'Deleting Watchlist',
        message: 'Are you sure you want to <strong>delete</strong> this watchlist? This action cannot be undone.',
        confirmText: 'Delete Watchlist',
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => {
          this.deleteWatchlist()
        }
      })
    },
    async deleteWatchlist() {
      await this.$axios.$delete(this.baseUrl + '/' + this.watchlist.id)
      this.$toast.open('Watchlist deleted!')
      this.$router.push({
        path: this.deleteRoute
      })
    },
    handleTimeSeriesCodeSelected(value) {
      this.watchlist.watchlist_entries = value
    }
  }
}
</script>
