<template>
  <div class="modal-card" style="width: auto">
    <header class="modal-card-head">
      <p class="modal-card-title">Create Dashboard</p>
    </header>
    <section class="modal-card-body">
      <!-- Dashboard name -->
      <div class="field">
        <label class="label">Dashboard Name</label>
        <div class="control has-icons-left">
          <input class="input" type="email" placeholder="e.g. My Dashboard" v-model="dashboardName" required>
          <span class="icon is-small is-left">
            <b-icon icon="home" size="is-small"/>
          </span>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-danger" @click="$parent.close()">Close</button>
      <button class="button is-success" @click="createDashboard">Add {{timeSeriesToAdd.length}} time series to {{ dashboardName }}</button>
    </footer>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'CreateDashboardForSelectedForm',
  props: {
    timeSeriesToAdd: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      dashboardName: ''
    }
  },
  methods: {
    ...mapActions({
      newDashboard: 'dashboard/newDashboard'
    }),
    createDashboard() {
      const data = {
        name: this.dashboardName,
        timeSeries: this.timeSeriesToAdd
      }
      this.newDashboard(data)
      this.$parent.close()
    }
  }
}
</script>
