<template>
  <section class="box">
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="control">
          <TimeSeriesCodeSelect v-model="chartRefTimeSeries1" @change="handleTimeSeriesCode1Selected"/>
        </div>
        <div class="control">
          <TimeSeriesCodeSelect v-model="chartRefTimeSeries2" @change="handleTimeSeriesCode2Selected"/>
        </div>
      </div>
    </div>
    <div v-if="chartDataAvailable" ref="plotlyContainer" id="plotlyContainer" />
    <div v-else>
      <section class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <b-icon icon="emoticon-sad" size="is-large"></b-icon>
          </p>
          <p>No chart data available!.</p>
        </div>
      </section>
    </div>
  </section>
</template>

<script>
import { mapActions } from 'vuex'
import Plotly from 'plotly.js-dist'
import TimeSeriesCodeSelect from '@/components/controls/TimeSeriesCodeSelect'
export default {
  name: 'PlotlyChartContainer',
  components: {
    TimeSeriesCodeSelect
  },
  props: {
    options: {
      type: Object
    },
    data: {
      type: Array,
      required: true
    },
    layout: {
      type: Object
    }
  },
  data() {
    return {
      loading: false,
      internalLayout: this.layout,
      chartRefTimeSeries1: [],
      chartRefTimeSeries2: []
    }
  },
  mounted() {
    this.replotData()
  },
  computed: {
    chartDataAvailable() {
      if ((this.data != null && this.data.length > 0) || this.chartRefTimeSeries1 != null || this.chartRefTimeSeries2 != null) {
        return true
      } else {
        return false
      }
    }
  },
  watch: {
    data: function (newData, oldData) {
      this.replotData()
    }
  },
  methods: {
    ...mapActions({
      getTimeSeriesData: 'timeseries/getTimeSeriesData'
    }),
    async replotData() {
      /* eslint-disable */
      let chartData = []
      if ((this.data != null && this.data.length > 0) || this.chartRefTimeSeries1 != null || this.chartRefTimeSeries2 != null) {
        for (const timeSeries of this.data) {
          try {
            const timeSeriesData = await this.getTimeSeriesData(timeSeries.id)
            const dates = timeSeriesData.map(a => a.date)
            const closes = timeSeriesData.map(a => a.close)
            const trace = {
              x: dates,
              y: closes,
              type: 'scatter',
              name: timeSeries.code
            }
            chartData.push(trace)
            this.loading = false
          } catch (e) {
            this.$toast.open('An error occured getting chart data! [' + e.message + ']')
            this.loading = false
          }
        }
        this.newPlot(chartData)
      } else {
        chartData = []
        this.newPlot(chartData)
      }
      /* eslint-enable */
    },
    async newPlot(chartData) {
      /* eslint-disable */
      if (this.chartRefTimeSeries1 != null && this.chartRefTimeSeries1.length > 0) {
        const timeSeriesData1 = await this.getTimeSeriesData(this.chartRefTimeSeries1[0].id)
        const dates1 = timeSeriesData1.map(a => a.date)
        const closes1 = timeSeriesData1.map(a => a.close)
        const trace1 = {
          x: dates1,
          y: closes1,
          type: 'scatter',
          name: this.chartRefTimeSeries1[0].code
        }
        chartData.push(trace1)
      }
      if (this.chartRefTimeSeries2 != null && this.chartRefTimeSeries2.length > 0) {
        const timeSeriesData2 = await this.getTimeSeriesData(this.chartRefTimeSeries2[0].id)
        const dates2 = timeSeriesData2.map(a => a.date)
        const closes2 = timeSeriesData2.map(a => a.close)
        const trace2 = {
          x: dates2,
          y: closes2,
          type: 'scatter',
          name: this.chartRefTimeSeries2[0].code
        }
        chartData.push(trace2)
      }
      this.chartData = chartData
      Plotly.newPlot(this.$refs.plotlyContainer, chartData)
      /* eslint-enable */
    },
    handleTimeSeriesCode1Selected(value) {
      this.chartRefTimeSeries1 = value
      /* this.$store.commit('timeseries/SET_CHART_REF_TIME_SERIES_1', value) */
      this.replotData()
    },
    handleTimeSeriesCode2Selected(value) {
      this.chartRefTimeSeries2 = value
      /* this.$store.commit('timeseries/SET_CHART_REF_TIME_SERIES_2', value) */
      this.replotData()
    }
  }
}
</script>
