<template>
  <section class="box">
      <!-- Search Watchlists -->
      <div class="row">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left is-expanded">
                <input class="input" placeholder="e.g. data provider name name" v-model="searchFilter">
                <span class="icon is-small is-left">
                  <b-icon icon="magnify" size="is-small"/>
                </span>
              </div>
            </div>
            <div class="field is-grouped is-grouped-right">
              <p class="control">
                <download-excel :data="data" type="csv" class="button is-light">Export</download-excel>
              </p>
              <p class="control">
                <nuxt-link class=" button is-success" :to="{path: '/dataproviders/add'}">
                  New
                </nuxt-link>
              </p>
            </div>
          </div>
        </div>
      </div>
      <b-table
        :data="filteredDataProviders"
        :loading="loading">
          <template slot="empty">
            <section class="section">
              <div class="content has-text-grey has-text-centered">
                <p>
                  <b-icon icon="emoticon-sad" size="is-large"></b-icon>
                </p>
                <p>No results returned!.</p>
              </div>
            </section>
          </template>
          <template slot-scope="props">
            <b-table-column field="id" label="Id" sortable>
              {{ props.row.id }}
            </b-table-column>
            <b-table-column field="name" label="Name" sortable>
              <nuxt-link :to="'/dataproviders/'+props.row.id">
                {{ props.row.name }}
              </nuxt-link>
            </b-table-column>
            <b-table-column field="description" label="Description" sortable>
              {{ props.row.description }}
            </b-table-column>
            <b-table-column field="description" label="API Base URI" sortable>
              {{ props.row.api_base_uri }}
            </b-table-column>
            <b-table-column field="api_token" label="Api Token" sortable>
              {{ props.row.api_token }}
            </b-table-column>
            <b-table-column label="Action">
              <nuxt-link :to="'/dataproviders/'+props.row.id">
                <b-icon icon="square-edit-outline"></b-icon>
              </nuxt-link>
            </b-table-column>
          </template>
      </b-table>
  </section>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'DataProvidersTable',
  data() {
    return {
      data: [],
      loading: false,
      searchFilter: ''
    }
  },
  computed: {
    filteredDataProviders() {
      const nameRegEx = new RegExp(this.searchFilter, 'i')
      const descRegEx = new RegExp(this.searchFilter, 'i')
      const uriRegEx = new RegExp(this.searchFilter, 'i')
      const tokenRegEx = new RegExp(this.searchFilter, 'i')
      const data = []
      let i = 0
      for (i in this.data) {
        if ((this.data[i].name.match(nameRegEx)) || (this.data[i].description.match(descRegEx)) || (this.data[i].name.match(uriRegEx)) || (this.data[i].name.match(tokenRegEx))) {
          data.push(this.data[i])
        }
      }
      return data
    }
  },
  methods: {
    ...mapActions({
      getDataProviders: 'dataproviders/getDataProviders'
    }),
    async loadAsyncData() {
      this.loading = true
      this.data = await this.getDataProviders()
      this.loading = false
    }
  },
  mounted() {
    this.loadAsyncData()
  }
}
</script>
