<template>
  <div class="column">
    <h3 class="title is-3">{{ dataProviderTitle }}</h3>
    <button v-on:click.prevent="confirmTriggerSync" class="button is-pulled-right">Trigger Sync</button>
    <form v-on:submit.prevent="saveDataProvider">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" placeholder="e.g. watchlist name" v-model="dataProvider.name" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" placeholder="Description of watchlist" v-model="dataProvider.description" required></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label">API Base URI</label>
        <div class="control">
          <input class="input" placeholder="API URI" v-model="dataProvider.api_base_uri">
        </div>
      </div>
      <div class="field">
        <label class="label">API Token</label>
        <div class="control">
          <input class="input" placeholder="API Token" v-model="dataProvider.api_token">
        </div>
      </div>
      <!-- Delete button -->
      <div class="field is-horizontal">
        <div class="field-body">
          <div v-if="dataProvider.id > 0" class="field is-grouped is-grouped-left">
            <p class="control">
              <button v-on:click.prevent="confirmDeleteDataProvider" class="button is-danger">Delete</button>
            </p>
          </div>
          <!-- Save and Cancel Buttons -->
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <button type="submit" class="button is-success">Save</button>
            </p>
            <p class="control">
              <nuxt-link :to="cancelRoute" class="button is-light">Cancel</nuxt-link>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'DataProviderForm',
  data() {
    return {
      baseUrl: 'dataproviders'
    }
  },
  props: {
    dataProviderTitle: {
      type: String,
      default: 'Data Provider'
    },
    dataProvider: {
      type: Object,
      default() {
        return {
          name: '',
          description: '',
          api_base_uri: '',
          api_token: ''
        }
      }
    },
    cancelRoute: {
      type: String,
      default: '/dataproviders'
    },
    saveRoute: {
      type: String,
      default: '/dataproviders'
    },
    deleteRoute: {
      type: String,
      default: '/dataproviders'
    }
  },
  methods: {
    async saveDataProvider() {
      let dynamicRoute = this.baseUrl
      if (this.dataProvider.id > 0) {
        dynamicRoute = dynamicRoute + '/' + this.dataProvider.id
      }
      let method = this.$axios.$post
      if (this.dataProvider.id > 0) {
        method = this.$axios.$put
      }
      const response = await method(dynamicRoute, this.dataProvider)
      this.dataProvider = response.data
      this.$router.push({
        path: this.saveRoute
      })
    },
    confirmDeleteDataProvider() {
      this.$dialog.confirm({
        title: 'Deleting Data Provider',
        message: 'Are you sure you want to <strong>delete</strong> this Data Provider? This action cannot be undone.',
        confirmText: 'Delete Data Provider',
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => {
          this.deleteDataProvider()
        }
      })
    },
    async deleteDataProvider() {
      await this.$axios.$delete(this.baseUrl + '/' + this.dataProvider.id)
      this.$toast.open('Data Provider deleted!')
      this.$router.push({
        path: this.deleteRoute
      })
    },
    confirmTriggerSync() {
      this.$dialog.confirm({
        title: 'Trigger Sync',
        message: `Are you sure you want to <strong>trigger a sync</strong> for this Data Provider?<p><span><strong>${this.dataProvider.name}</strong></p></span>`,
        confirmText: 'Sync',
        type: 'is-info',
        hasIcon: true,
        onConfirm: () => {
          this.triggerSync(this.dataProvider)
        }
      })
    },
    async triggerSync(dataProvider) {
      this.loading = true
      try {
        let response = null
        response = await this.$axios.$post(`dataproviders/${dataProvider.id}/sync`, {
          id: dataProvider.id
        })
        this.loading = false
        this.$toast.open('Data sync complete!')
      } catch (e) {
        this.$toast.open('An error occured! [' + e.message + ']')
        this.loading = false
      }
    }
  }
}
</script>
