<template>
  <section>
    <TimeSeriesDataTable :timeSeriesId="timeSeriesId"/>
  </section>
</template>

<script>
import TimeSeriesDataTable from '@/components/timeseriesdata/TimeSeriesDataTable.vue'
export default {
  components: {
    TimeSeriesDataTable
  },
  data() {
    return {
      timeSeriesId: this.$route.params.id
    }
  }
}
</script>
