<template>
  <TimeSeriesDataTable :timeSerie="timeSeries"/>
</template>

<script>
import TimeSeriesDataTable from '@/components/timeseriesdata/TimeSeriesDataTable.vue'
export default {
  components: {
    TimeSeriesDataTable
  }
}
</script>
