<template>
  <div class="column">
    <section class="section">
      <WatchlistForm :watchlistTitle="title" :watchlist="watchlist" />
    </section>
    <section class="section">
      <h4 class="subtitle is-4">Watchlist Entries</h4>
      <WatchlistEntriesTable :watchlist="watchlist" />
    </section>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import WatchlistForm from '@/components/watchlists/WatchlistForm.vue'
import WatchlistEntriesTable from '@/components/watchlistentries/WatchlistEntriesTable.vue'
export default {
  components: {
    WatchlistForm,
    WatchlistEntriesTable
  },
  data() {
    return {
      title: 'Edit Watchlist',
      watchlist: {
        watchlist_entries: []
      }
    }
  },
  methods: {
    ...mapActions({
      getWatchlist: 'watchlist/getWatchlist'
    }),
    async loadAsyncData() {
      this.loading = true
      this.watchlist = await this.getWatchlist(this.$route.params.id)
      this.loading = false
    }
  },
  mounted() {
    this.loadAsyncData()
  }
}
</script>
