<template>
  <section>
    <WatchlistForm :watchlistTitle="title" :watchlist="watchlist" />
  </section>
</template>

<script>
import WatchlistForm from '@/components/watchlists/WatchlistForm.vue'
export default {
  components: {
    WatchlistForm
  },
  data() {
    return {
      title: 'New Watchlist',
      watchlist: {}
    }
  }
}
</script>
