<template>
  <section class="box">
      <!-- Search Watchlists -->
      <div class="row">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left is-expanded">
                <input class="input" placeholder="e.g. time series name" v-model="searchFilter">
                <span class="icon is-small is-left">
                  <b-icon icon="magnify" size="is-small"/>
                </span>
              </div>
            </div>
            <div class="field is-grouped is-grouped-right">
              <p class="control">
                <download-excel :data="watchlistEntries" type="csv" class="button is-light">Export</download-excel>
              </p>
            </div>
          </div>
        </div>
      </div>
      <b-table
        :data="filteredWatchlistEntries"
        :loading="loading">
          <template slot="empty">
            <section class="section">
              <div class="content has-text-grey has-text-centered">
                <p>
                  <b-icon icon="emoticon-sad" size="is-large"></b-icon>
                </p>
                <p>No results returned!.</p>
              </div>
            </section>
          </template>
          <template slot-scope="props">
            <b-table-column field="code" label="Code" sortable>
              {{ props.row.code }}
            </b-table-column>
            <b-table-column field="name" label="Name" sortable>
                {{ props.row.name }}
            </b-table-column>
          </template>
      </b-table>
  </section>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'WatchlistEntriesTable',
  props: {
    watchlist: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      searchFilter: '',
      loading: false,
      watchlistEntries: []
    }
  },
  computed: {
    filteredWatchlistEntries() {
      const nameRegEx = new RegExp(this.searchFilter, 'i')
      const codeRegEx = new RegExp(this.searchFilter, 'i')
      const data = []
      let i = 0
      for (i in this.watchlistEntries) {
        if ((this.watchlistEntries[i].name.match(nameRegEx)) || (this.watchlistEntries[i].code.match(codeRegEx))) {
          data.push(this.watchlistEntries[i])
        }
      }
      return data
    }
  },
  methods: {
    ...mapActions({
      getWatchlistEntries: 'watchlist/getWatchlistEntries'
    }),
    async loadAsyncData() {
      this.loading = true
      this.watchlistEntries = await this.getWatchlistEntries(this.$route.params.id)
      this.loading = false
    }
  },
  mounted() {
    this.loadAsyncData()
  }
}
</script>
