<template>
  <div class="box row">
    <h2 class="subtitle">{{ symbol }}</h2>
    <div class="TradingViewChartContainer" :id="containerId" />
  </div>
</template>

<script>
export default {
  name: 'TradingViewChartContainer',
  props: {
    historyRequestInterval: {
      default: '60000', // 60000 = 10 mins
      type: String
    },
    symbol: {
      default: 'AAPL',
      type: String
    },
    interval: {
      default: 'D',
      type: String
    },
    libraryPath: {
      default: '/charting_library/',
      type: String
    },
    chartsStorageUrl: {
      default: process.env.API_URL + '/tvstorage',
      type: String
    },
    chartsStorageApiVersion: {
      default: '1.1',
      type: String
    },
    clientId: {
      default: 'tradingview.com',
      type: String
    },
    userId: {
      default: 'public_user_id',
      type: String
    },
    fullscreen: {
      default: true,
      type: Boolean
    },
    autosize: {
      default: true,
      type: Boolean
    },
    width: {
      default: '50%',
      type: String
    },
    height: {
      default: '50%',
      type: String
    },
    studiesOverrides: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      tvWidget: null,
      containerId: 'tradingViewContainer',
      datafeedUrl: process.env.API_URL + '/tvdata'
    }
  },
  created() {
    this.containerId = '_' + Date.now()
  },
  mounted() {
    const widgetOptions = {
      symbol: this.symbol,
      // BEWARE: no trailing slash is expected in feed URL
      datafeed: new window.Datafeeds.UDFCompatibleDatafeed(this.datafeedUrl, this.historyRequestInterval),
      interval: this.interval,
      container_id: this.containerId,
      library_path: this.libraryPath,
      locale: 'en',
      disabled_features: ['use_localstorage_for_settings'],
      enabled_features: ['study_templates'],
      charts_storage_url: this.chartsStorageUrl,
      charts_storage_api_version: this.chartsStorageApiVersion,
      client_id: this.clientId,
      user_id: this.userId,
      fullscreen: this.fullscreen,
      autosize: this.autosize,
      height: this.height,
      width: this.width,
      studies_overrides: this.studiesOverrides,
      overrides: {
        'mainSeriesProperties.style': 2
      },
      debug: false
    }

    const tvWidget = new window.TradingView.widget(widgetOptions)
    this.tvWidget = tvWidget
  },
  destroyed() {
    /*
    if (this.tvWidget !== null) {
      this.tvWidget.remove()
      this.tvWidget = null
    }
    */
  }
}
</script>
