<template>
  <section classs="section">
    <DataProviderForm :DataProviderTitle="title" :dataProvider="dataProvider" />
  </section>
</template>

<script>
import DataProviderForm from '@/components/dataproviders/DataProviderForm.vue'
export default {
  components: {
    DataProviderForm
  },
  data() {
    return {
      title: 'Edit Data Provider',
      dataProvider: {}
    }
  },
  methods: {
    async loadAsyncData() {
      this.loading = true
      const response = await this.$axios.$get('dataproviders/' + this.$route.params.id)
      this.dataProvider = response.data
      this.loading = false
    }
  },
  mounted() {
    this.loadAsyncData()
  }
}
</script>
