<template>
  <section class="section">
    <DataProviderForm :dataProviderTitle="title" :dataProvider="watchlist" />
  </section>
</template>

<script>
import DataProviderForm from '@/components/dataproviders/DataProviderForm.vue'
export default {
  components: {
    DataProviderForm
  },
  data() {
    return {
      title: 'New Data Provider',
      dataProvider: {}
    }
  }
}
</script>
