<template>
  <DataProvidersTable />
</template>

<script>
import DataProvidersTable from '@/components/dataproviders/DataProvidersTable.vue'
export default {
  components: {
    DataProvidersTable
  }
}
</script>
