<template>
  <div class="column">
      <!--
        Search Filters
      -->
      <section v-if="showAdvancedSearch" class="box">
        <b-collapse :open="true">
          <button class="button is-primary is-small is-pulled-right" slot="trigger">
            <b-icon icon="toggle-switch" size="is-small"/>
          </button>
          <div id="timeSeriesAdvancedSearchPanel">
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <label class="label">Data Provider</label>
                  <div class="control">
                    <DataProviderSelect v-model="advancedSearchFilter.selectedDataProviders" @change="handleDataProviderSelected"/>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Feed Name</label>
                  <div class="control">
                    <DataFeedNameSelect v-model="advancedSearchFilter.selectedDataFeedNames" @change="handleDataFeedNameSelected"/>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Exchange</label>
                  <div class="control">
                    <ExchangeSelect v-model="advancedSearchFilter.selectedExchanges" @change="handleExchangeSelected"/>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Country</label>
                  <div class="control">
                    <CountrySelect v-model="advancedSearchFilter.selectedCountries" @change="handleCountrySelected"/>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Watchlist</label>
                  <div class="control">
                    <WatchlistSelect v-model="advancedSearchFilter.selectedWatchlists" @change="handleWatchlistSelected" />
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-body">
                <div class="field">
                  <label class="label">Time Series Code</label>
                  <div class="control">
                    <TimeSeriesCodeSelect v-model="advancedSearchFilter.selectedTimeSeriesCodes" @change="handleTimeSeriesCodeSelected"/>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Sector</label>
                  <div class="control">
                    <SectorSelect v-model="advancedSearchFilter.selectedSectors" @change="handleSectorSelected"/>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Category</label>
                  <div class="control">
                    <CategorySelect v-model="advancedSearchFilter.selectedCategories" @change="handleCategorySelected"/>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Priority</label>
                  <div class="control">
                    <PrioritySelect v-model="advancedSearchFilter.selectedPriorities" @change="handlePrioritySelected"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-body">
              <b-field label="Starts Before">
                <b-datepicker
                  placeholder="Click to select..."
                  icon="calendar-today"
                  v-model="advancedSearchFilter.selectedBeforeDate"
                  editable>
                </b-datepicker>
              </b-field>
              <b-field label="Ends After">
                <b-datepicker
                  placeholder="Click to select..."
                  icon="calendar-today"
                  v-model="advancedSearchFilter.selectedAfterDate"
                  editable>
                </b-datepicker>
              </b-field>
              <b-field label="Time Series Name">
                <b-input v-model="advancedSearchFilter.selectedTimeSeriesName"></b-input>
              </b-field>
              <b-field label="Time Series Description">
                <b-input v-model="advancedSearchFilter.selectedTimeSeriesDescription"></b-input>
              </b-field>
              </div>
            </div>
            <div class="row">
              <div class="field is-horizontal">
                <div class="control is-pulled-right">
                  <button  v:if="showAdvancedSearch" v-on:click.prevent="search" class="button is-success">Search</button>
                </div>
              </div>
            </div>
          </div>
        </b-collapse>
      </section>
      <!--
        Chart
      -->
      <no-ssr>
        <PlotlyChartContainer v-if="showCharts" :data="selectedTimeSeries"/>
      </no-ssr>
      <!--
        ime Series Results
      -->
      <section class="box">
        <!--
          Search Time Series
        -->
        <div class="field is-horizontal">
          <div class="field-body">
            <div v-if="data.length > 0" class="field">
              <p><strong>{{ dataMeta.total }}</strong> results. </p>
            </div>
            <div class="field">
              <b-select v-model="perPage">
                <option v-if="dataMeta.per_page > 50" value="50">50 per page</option>
                <option value="100">100 per page</option>
                <option value="200">200 per page</option>
                <option value="500">500 per page</option>
                <option :value="dataMeta.per_page">{{ dataMeta.per_page }} per page</option>
              </b-select>
            </div>
            <div class="field">
              <div class="control has-icons-left is-expanded">
                <input class="input" placeholder="e.g. time series name" v-model="searchFilter">
                <span class="icon is-small is-left">
                  <b-icon icon="magnify" size="is-small"/>
                </span>
              </div>
            </div>
            <div class="field">
              <b-dropdown v-show="showSelectedActions" >
                <button class="button" slot="trigger">
                    <span>Selected Actions</span>
                    <b-icon icon="menu-down"></b-icon>
                </button>
                <b-dropdown-item v-on:click="addSelectedToWatchList">Add to Watchlist</b-dropdown-item>
                <b-dropdown-item v-on:click="addSelectedToCategory">Add to Category</b-dropdown-item>
                <b-dropdown-item v-on:click="createDashBoardForSelected">Create Dashboard</b-dropdown-item>
              </b-dropdown>
            </div>
            <div class="field">
              <b-switch v-model="showCharts">Show Charts</b-switch>
            </div>
            <div class="field is-grouped is-grouped-right">
              <p class="control">
                <button v-on:click="clearAllSelectedTimeSeries" class="button is-light">Clear Selected</button>
              </p>
              <p class="control">
                <download-excel :data="data" type="csv" class="button is-light">Export</download-excel>
              </p>
              <p class="control">
                <nuxt-link class=" button is-success" :to="{path: '/timeseries/add'}">
                  New
                </nuxt-link>
              </p>
            </div>
          </div>
        </div>
        <!--
          Results Tabe
        -->
        <b-table
          :data="filteredTimeSeries"
          :loading="loading"
          :paginated="paginated"
          :perPage="perPage"
          :checkable="selectable"
          :checked-rows.sync="selectedTimeSeries"
          detailed
          narrowed>
            <template slot="bottom-left">
              <p>
                Showing from <strong>{{ dataMeta.from }}</strong> to <strong>{{ dataMeta.to }}</strong> of <strong>{{ dataMeta.total }}</strong> results.
              </p>
            </template>
            <template slot="empty">
              <section class="section">
                <div class="content has-text-grey has-text-centered">
                  <p>
                    <b-icon icon="emoticon-sad" size="is-large"></b-icon>
                  </p>
                  <p>No results returned!.</p>
                </div>
              </section>
            </template>
            <template slot-scope="props">
              <b-table-column field="code" label="Code" sortable>
                <nuxt-link :to="'/timeseries/'+props.row.id">
                  {{ props.row.code }}
                </nuxt-link>
              </b-table-column>
              <b-table-column field="name" label="Name" sortable>
                {{ props.row.name }}
              </b-table-column>
              <b-table-column field="update_freq" label="Update Freq" sortable>
                {{ props.row.update_freq }}
              </b-table-column>
              <b-table-column field="start_date" label="Start Date" width="120" sortable>
                  {{ props.row.start_date }}
              </b-table-column>
              <b-table-column field="end_date" label="End Date" width="120" sortable>
                {{ props.row.end_date }}
              </b-table-column>
              <b-table-column field="auto_downloaded" label="Download" sortable>
                  {{ props.row.auto_downloaded }}
              </b-table-column>
              <b-table-column label="Action">
                <b-dropdown>
                  <button class="button is-light" slot="trigger">
                      <span>Actions</span>
                      <b-icon icon="menu-down"></b-icon>
                  </button>
                  <b-dropdown-item has-link>
                    <nuxt-link :to="'/timeseries/'+props.row.id" class="button is-light" >
                      Edit
                    </nuxt-link>
                  </b-dropdown-item>
                  <b-dropdown-item v-on:click="selectWatchlistForTimeSeries(props.row)">Watchlist</b-dropdown-item>
                  <b-dropdown-item v-on:click="selectCategoryForTimeSeries(props.row)">Category</b-dropdown-item>
                  <b-dropdown-item has-link>
                    <nuxt-link :to="'/timeseriesdata/'+props.row.id" class="button is-light" >
                      View Data
                    </nuxt-link>
                  </b-dropdown-item>
                  <b-dropdown-item v-on:click="confirmFetchLatestTimeSeries(props.row)">Fetch Latest Data</b-dropdown-item>
                  <b-dropdown-item v-on:click="confirmRefreshTimeSeries(props.row)">Refresh All Data</b-dropdown-item>
                </b-dropdown>
              </b-table-column>
            </template>
            <template slot="detail" slot-scope="props">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      {{ props.row.description }}
                    </p>
                    <p>
                      {{ props.row.data_feed_code }}
                    </p>
                    <p>
                      {{ props.row.data_feed_name }}
                    </p>
                    <p>
                      {{ props.row.data_feed_description }}
                    </p>
                    <p>
                      {{ props.row.last_update }}
                    </p>
                  </div>
                </div>
              </article>
          </template>
        </b-table>
      </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import _ from 'lodash'
import moment from 'moment'
import DataProviderSelect from '@/components/dataproviders/DataProviderSelect'
import DataFeedNameSelect from '@/components/controls/DataFeedNameSelect'
import ExchangeSelect from '@/components/controls/ExchangeSelect'
import CountrySelect from '@/components/controls/CountrySelect'
import TimeSeriesCodeSelect from '@/components/controls/TimeSeriesCodeSelect'
import SectorSelect from '@/components/controls/SectorSelect'
import PrioritySelect from '@/components/controls/PrioritySelect'
import CategorySelect from '@/components/controls/CategorySelect'
import WatchlistSelect from '@/components/watchlists/WatchlistSelect'
import PlotlyChartContainer from '@/components/plotly/PlotlyChartContainer'
import AddToWatchListForm from '@/components/watchlists/AddToWatchListForm'
import CreateDashboardForSelectedForm from '@/components/dashboard/CreateDashboardForSelectedForm'
export default {
  name: 'TimeSeriesTable',
  components: {
    DataProviderSelect,
    DataFeedNameSelect,
    ExchangeSelect,
    CountrySelect,
    TimeSeriesCodeSelect,
    SectorSelect,
    PrioritySelect,
    CategorySelect,
    WatchlistSelect,
    PlotlyChartContainer,
    AddToWatchListForm,
    CreateDashboardForSelectedForm
  },
  data() {
    return {
      data: [],
      dataMeta: {},
      loading: false,
      paginated: true,
      perPage: 100,
      searchFilter: '',
      selectable: true,
      showCharts: false,
      selectedTimeSeries: [],
      advancedSearchFilter: {
        selectedDataProviders: [],
        selectedWatchlists: [],
        selectedDataFeedNames: [],
        selectedExchanges: [],
        selectedCountries: [],
        selectedSectors: [],
        selectedCategories: [],
        selectedPriorities: [],
        selectedTimeSeriesCodes: [],
        selectedBeforeDate: null,
        selectedBeforeDateFormatted: null,
        selectedAfterDate: null,
        selectedAfterDateFormatted: null,
        selectedTimeSeriesName: '',
        selectedTimeSeriesDescription: ''
      }
    }
  },
  props: {
    prefetch: {
      type: Boolean,
      default: true
    },
    filterable: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    advancedSearchFilter(newValue) {
      this.advancedSearchFilter = newValue
    }
  },
  computed: {
    ...mapGetters({
      cachedAdvancedSearchFilter: 'timeseries/cachedAdvancedSearchFilter'
    }),
    filteredTimeSeries() {
      const codeRegEx = new RegExp(this.searchFilter, 'i')
      const nameRegEx = new RegExp(this.searchFilter, 'i')
      const data = []
      let i = 0
      for (i in this.data) {
        if ((this.data[i].code.match(codeRegEx)) || (this.data[i].name.match(nameRegEx))) {
          data.push(this.data[i])
        }
      }
      return data
    },
    showAdvancedSearch() {
      return this.filterable
    },
    showSelectedActions() {
      return this.selectedTimeSeries != null && this.selectedTimeSeries.length > 0
    }
  },
  methods: {
    commitAdvancedSearchFilter() {
      this.$store.commit('timeseries/SET_CACHED_ADVANCED_SEARCH_FILTER', this.advancedSearchFilter)
    },
    reinstateAdvancedSearchFilter() {
      this.advancedSearchFilter = _.assign(this.advancedSearchFilter, this.cachedAdvancedSearchFilter)
    },
    async loadAsyncData() {
      this.loading = true
      const response = await this.$axios.$get('timeseries')
      this.data = response.data
      this.dataMeta = response.meta
      this.loading = false
    },
    confirmRefreshTimeSeries(timeSeries) {
      this.$dialog.confirm({
        title: 'Refresh Time Series',
        message: `Are you sure you want to <strong>refresh all data</strong> for this Time Series?<p><span><strong>${timeSeries.name}</strong></p></span>`,
        confirmText: 'Refresh Time Series',
        type: 'is-info',
        hasIcon: true,
        onConfirm: () => {
          this.refreshTimeSeries(timeSeries, false)
        }
      })
    },
    confirmFetchLatestTimeSeries(timeSeries) {
      this.$dialog.confirm({
        title: 'Fetch Latest Time Series Data',
        message: `Are you sure you want to fetch the <strong>latest data</strong> for this Time Series?<p><span><strong>${timeSeries.name}</strong></p></span>`,
        confirmText: 'Fetch Latest',
        type: 'is-info',
        hasIcon: true,
        onConfirm: () => {
          this.refreshTimeSeries(timeSeries, true)
        }
      })
    },
    async refreshTimeSeries(timeSeries, fetchLatestOnly) {
      this.loading = true
      try {
        let response = null
        if (fetchLatestOnly) {
          response = await this.$axios.$post(`timeseries/${timeSeries.id}/latest`, {
            id: timeSeries.id
          })
        } else {
          response = await this.$axios.$post(`timeseries/${timeSeries.id}/refresh`, {
            id: timeSeries.id
          })
        }
        const foundIndex = this.data.findIndex(x => x.id === response.data.id)
        this.data.splice(foundIndex, 1, response.data)
        this.loading = false
        this.$toast.open('Data refresh complete!')
      } catch (e) {
        this.$toast.open('An error occured! [' + e.message + ']')
        this.loading = false
      }
    },
    displaySelectedChart(timeSeries) {
      const routeData = this.$router.resolve({
        name: 'tradingview',
        query: { timeSeriesId: timeSeries.id }
      })
      window.open(routeData.href, 'Chart', 'height=600,width=800')
    },
    selectWatchlistForTimeSeries(timeSeries) {
      const timeSeriesArray = [timeSeries]
      this.$modal.open({
        parent: this,
        component: AddToWatchListForm,
        hasModalCard: true,
        props: {
          timeSeriesToAdd: timeSeriesArray
        }
      })
    },
    selectCategoryForTimeSeries(timeSeries) {

    },
    handleDataProviderSelected(value) {
      this.advancedSearchFilter.selectedDataProviders = value
    },
    handleDataFeedNameSelected(value) {
      this.advancedSearchFilter.selectedDataFeedNames = value
    },
    handleExchangeSelected(value) {
      this.advancedSearchFilter.selectedExchanges = value
    },
    handleCountrySelected(value) {
      this.advancedSearchFilter.selectedCountries = value
    },
    handleTimeSeriesCodeSelected(value) {
      this.advancedSearchFilter.selectedTimeSeriesCodes = value
    },
    handlePrioritySelected(value) {
      this.advancedSearchFilter.selectedPriorities = value
    },
    handleSectorSelected(value) {
      this.advancedSearchFilter.selectedSectors = value
    },
    handleCategorySelected(value) {
      this.advancedSearchFilter.selectedCategories = value
    },
    handleWatchlistSelected(value) {
      this.advancedSearchFilter.selectedWatchlists = value
    },
    addSelectedToWatchList() {
      this.$modal.open({
        parent: this,
        component: AddToWatchListForm,
        hasModalCard: true,
        props: {
          timeSeriesToAdd: this.selectedTimeSeries
        }
      })
    },
    addSelectedToCategory() {

    },
    createDashBoardForSelected() {
      this.$modal.open({
        parent: this,
        component: CreateDashboardForSelectedForm,
        hasModalCard: true,
        props: {
          timeSeriesToAdd: this.selectedTimeSeries
        }
      })
    },
    clearAllSelectedTimeSeries() {
      this.selectedTimeSeries = []
    },
    async search() {
      this.loading = true
      try {
        if (this.advancedSearchFilter.selectedBeforeDate != null) {
          const formattedDate = moment(this.advancedSearchFilter.selectedBeforeDate).format('YYYY-MM-DD')
          this.advancedSearchFilter.selectedBeforeDateFormatted = formattedDate
        } else {
          this.advancedSearchFilter.selectedBeforeDateFormatted = null
        }
        if (this.advancedSearchFilter.selectedAfterDate != null) {
          const formattedDate = moment(this.advancedSearchFilter.selectedAfterDate).format('YYYY-MM-DD')
          this.advancedSearchFilter.selectedAfterDateFormatted = formattedDate
        } else {
          this.advancedSearchFilter.selectedAfterDateFormatted = null
        }
        this.commitAdvancedSearchFilter()
        const response = await this.$axios.$post(`timeseries/search`, {
          searchFilter: this.advancedSearchFilter
        })
        this.data = response.data
        this.dataMeta = response.meta
        this.selectedTimeSeries = []
        this.loading = false
      } catch (e) {
        this.$toast.open('An error occured! [' + e.message + ']')
        this.loading = false
      }
    }
  },
  mounted() {
    this.reinstateAdvancedSearchFilter()
    if (this.prefetch) {
      this.loadAsyncData()
    }
  }
}
</script>
