<template>
  <div class="column">
    <h3 class="title is-3">{{ timeSeriesTitle }}</h3>
    <form v-on:submit.prevent="saveTimeSeries">
      <div class="field">
        <label class="label">Code</label>
        <div class="control">
          <input class="input" placeholder="e.g. Code" v-model="timeSeries.code" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" placeholder="e.g. Time Series name" v-model="timeSeries.name" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" placeholder="Description of Time Series" v-model="timeSeries.description" required disabled></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label">Exchange</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.exchange" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Sector</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.sector" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Country</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.country" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.category" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Priority</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.priority" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Update Frequency</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.update_freq" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Asset Type</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.asset_type" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Currency</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.currency" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Industry</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.industry" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Market Cap</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.market_cap" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Average Volume</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.average_volume" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Number of Employees</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.number_employees" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Address 1</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.address1" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Address 2</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.address2" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Town and Zip</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.town_and_zip" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Telephone Number</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.telephone_number" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Website</label>
        <div class="control">
          <input class="input" placeholder="" v-model="timeSeries.website" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Start Date</label>
        <div class="control">
          <input class="input" placeholder="Description of Time Series" v-model="timeSeries.start_date" required disabled></input>
        </div>
      </div>
      <div class="field">
        <label class="label">End Date</label>
        <div class="control">
          <input class="input" placeholder="Description of Time Series" v-model="timeSeries.end_date" required disabled></input>
        </div>
      </div>
      <div class="field">
        <label class="label">Last Update</label>
        <div class="control">
          <input class="input" placeholder="Description of Time Series" v-model="timeSeries.last_update" required disabled></input>
        </div>
      </div>
      <div class="field">
        <label class="label">Data Feed Code</label>
        <div class="control">
          <input class="input" placeholder="e.g. Code" v-model="timeSeries.data_feed_code" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Data Feed Name</label>
        <div class="control">
          <input class="input" placeholder="e.g. Time Series name" v-model="timeSeries.data_feed_name" required disabled>
        </div>
      </div>
      <div class="field">
        <label class="label">Data Feed Description</label>
        <div class="control">
          <textarea class="textarea" placeholder="Description of Time Series" v-model="timeSeries.data_feed_description" required disabled></textarea>
        </div>
      </div>
      <!-- Delete button -->
      <div class="field is-horizontal">
        <div class="field-body">
          <div v-if="timeSeries.id > 0" class="field is-grouped is-grouped-left">
            <p class="control">
              <button v-on:click.prevent="confirmDeleteTimeSeries" class="button is-danger">Delete</button>
            </p>
          </div>
          <!-- Save and Cancel Buttons -->
          <div class="field is-grouped is-grouped-right">
            <p class="control">
              <button type="submit" class="button is-success">Save</button>
            </p>
            <p class="control">
              <nuxt-link :to="cancelRoute" class="button is-light">Cancel</nuxt-link>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import ExchangeSelect from '@/components/controls/ExchangeSelect'
export default {
  name: 'TimeSeriesForm',
  components: {
    ExchangeSelect
  },
  data() {
    return {
      baseUrl: 'timeseries'
    }
  },
  props: {
    timeSeriesTitle: {
      type: String,
      default: 'Time Series'
    },
    timeSeries: {
      type: Object,
      default() {
        return {
          name: '',
          description: ''
        }
      }
    },
    cancelRoute: {
      type: String,
      default: '/timeseries'
    },
    saveRoute: {
      type: String,
      default: '/timeseries'
    },
    deleteRoute: {
      type: String,
      default: '/timeseries'
    }
  },
  methods: {
    async saveTimeSeries() {
      let dynamicRoute = 'timeseries'
      if (this.timeseries.id > 0) {
        dynamicRoute = dynamicRoute + '/' + this.timeseries.id
      }
      let method = this.$axios.$post
      if (this.timeseries.id > 0) {
        method = this.$axios.$put
      }
      const response = await method(dynamicRoute, this.timeseries)
      this.timeseries = response.data
      this.$router.push({
        path: this.saveRoute
      })
    },
    confirmDeleteTimeSeries() {
      this.$dialog.confirm({
        title: 'Deleting Time Series',
        message: 'Are you sure you want to <strong>delete</strong> this Time Series? This action cannot be undone.',
        confirmText: 'Delete Time Series',
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => {
          this.deleteTimeSeries()
        }
      })
    },
    async deleteTimeSeries() {
      await this.$axios.$delete(this.baseUrl + '/' + this.timeseries.id)
      this.$toast.open('Time Series deleted!')
      this.$router.push({
        path: this.deleteRoute
      })
    }
  }
}
</script>
