<template>
  <section class="box">
      <!-- Search Time Series -->
      <div class="row">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left is-expanded">
                <input class="input" placeholder="e.g. time series data" v-model="searchFilter">
                <span class="icon is-small is-left">
                  <b-icon icon="magnify" size="is-small"/>
                </span>
              </div>
            </div>
            <div class="field is-grouped is-grouped-right">
              <p class="control">
                <download-excel :data="data" type="csv" class="button is-light">Export</download-excel>
              </p>
            </div>
          </div>
        </div>
      </div>
      <b-table
        :data="filteredTimeSeriesHistory"
        :loading="loading"
        :paginated="paginated"
        :perPage="perPage"
        narrowed>
          <template slot="empty">
            <section class="section">
              <div class="content has-text-grey has-text-centered">
                <p>
                  <b-icon icon="emoticon-sad" size="is-large"></b-icon>
                </p>
                <p>No results returned!.</p>
              </div>
            </section>
          </template>
          <template slot-scope="props">
            <b-table-column field="created_at" label="Date" sortable>
              {{ props.row.created_at }}
            </b-table-column>
            <b-table-column field="time_series_ticker" label="Ticker" sortable>
              {{ props.row.time_series_ticker }}
            </b-table-column>
            <b-table-column field="refresh_type" label="Auto/Manual" sortable>
              {{ props.row.refresh_type }}
            </b-table-column>
            <b-table-column field="request_info" label="Request Info" sortable>
                {{ props.row.request_info }}
            </b-table-column>
            <b-table-column field="result" label="Result" sortable>
              {{ props.row.result }}
            </b-table-column>
            <b-table-column field="error_message" label="Error Msg" sortable>
                {{ props.row.error_message }}
            </b-table-column>
          </template>
      </b-table>
  </section>
</template>

<script>
export default {
  name: 'TimeSeriesHistoryTable',
  data() {
    return {
      data: [],
      loading: false,
      paginated: true,
      perPage: 15,
      searchFilter: ''
    }
  },
  computed: {
    filteredTimeSeriesHistory() {
      const dateRegEx = new RegExp(this.searchFilter, 'i')
      const dataProviderRegEx = new RegExp(this.searchFilter, 'i')
      const tickerRegEx = new RegExp(this.searchFilter, 'i')
      const refreshTypeRegEx = new RegExp(this.searchFilter, 'i')
      const resultRegEx = new RegExp(this.searchFilter, 'i')
      const errorMessageRegEx = new RegExp(this.searchFilter, 'i')
      const requestInfoRegEx = new RegExp(this.searchFilter, 'i')
      const data = []
      let i = 0
      for (i in this.data) {
        if ((this.data[i].created_at != null && this.data[i].created_at.match(dateRegEx)) ||
          (this.data[i].data_provider_name != null && this.data[i].data_provider_name.match(dataProviderRegEx)) ||
          (this.data[i].time_series_ticker != null && this.data[i].time_series_ticker.match(tickerRegEx)) ||
          (this.data[i].refresh_type != null && this.data[i].refresh_type.match(refreshTypeRegEx)) ||
          (this.data[i].request_info != null && this.data[i].request_info.match(requestInfoRegEx)) ||
          (this.data[i].result != null && this.data[i].result.match(resultRegEx)) ||
          (this.data[i].error_message != null && this.data[i].error_message.match(errorMessageRegEx))) {
          data.push(this.data[i])
        }
      }
      return data
    }
  },
  methods: {
    async loadAsyncData() {
      this.loading = true
      const response = await this.$axios.$get(`/history`)
      this.data = response.data
      this.loading = false
    }
  },
  mounted() {
    this.loadAsyncData()
  }
}
</script>
