<template>
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6-tablet is-6-desktop is-4-widescreen">
            <form class="box" @submit.prevent="login">
              <!-- Email -->
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" placeholder="e.g. john@email.com" v-model="form.email" required>
                  <span class="icon is-small is-left">
                    <b-icon icon="email" size="is-small"/>
                  </span>
                </div>
              </div>
              <!-- Password -->
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" placeholder="********" v-model="form.password" required>
                  <span class="icon is-small is-left">
                    <b-icon icon="lock" size="is-small"/>
                  </span>
                </div>
              </div>
              <p v:if="errors" class="is-danger has-text-danger">
                {{ errors[0] }}
              </p>
              <!-- Login Button -->
              <div class="field">
                <button class="button is-success">
                Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'noAuthLayout',
  data() {
    return {
      form: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    /*
     *
     */
    async login() {
      try {
        await this.$auth.login({
          data: this.form
        })
      } catch (e) {
        this.error = e.response.data.message
      }
      // if logged in rout to index page or where previouslky requested
      if (this.$auth.loggedIn) {
        this.$router.push({
          path: this.$route.query.redirect || '/'
        })
      }
    }
  }
}
</script>
