<template>
  <section>
    <TimeSeriesForm :timeSeriesTitle="title" :timeSeries="timeSeries" />
  </section>
</template>

<script>
import TimeSeriesForm from '@/components/timeseries/TimeSeriesForm.vue'
export default {
  components: {
    TimeSeriesForm
  },
  data() {
    return {
      title: 'Edit TimeSeries',
      timeSeries: {}
    }
  },
  methods: {
    async loadAsyncData() {
      this.loading = true
      const response = await this.$axios.$get('timeseries/' + this.$route.params.id)
      this.timeSeries = response.data
      this.loading = false
    }
  },
  mounted() {
    this.loadAsyncData()
  }
}
</script>
