<template>
  <section>
    <TimeSeriesForm :timeSeriesTitle="title" :timeseries="timeseries" />
  </section>
</template>

<script>
import TimeSeriesForm from '@/components/timeseries/TimeSeriesForm.vue'
export default {
  components: {
    TimeSeriesForm
  },
  data() {
    return {
      title: 'New TimeSeries',
      timeseries: {}
    }
  }
}
</script>
