<template>
  <TimeSeriesTable :selectable="selectable" :prefetch="prefetch" :filterable="filterable" />
</template>

<script>
import TimeSeriesTable from '@/components/timeseries/TimeSeriesTable.vue'
export default {
  components: {
    TimeSeriesTable
  },
  data() {
    return {
      selectable: true,
      prefetch: false,
      filterable: true
    }
  }
}
</script>
