<template>
  <div>
    <nav
      class="navbar header has-shadow is-primary level"
      role="navigation"
      aria-label="main navigation">

      <div class="navbar-brand level-left">
        <a class="navbar-item" href="/">
          <span>
            <b-icon :icon="logoIcon" size="is-small"></b-icon>   {{ siteName }}
          </span>
        </a>
      </div>

      <template v-if="authenticated">
        <div class="navbar-brand navbar-item has-dropdown is-hoverable level-right">
          <a class="navbar-link">
            {{ user.name }}
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" @click.prevent="logout">
              Log out
            </a>
          </div>
        </div>
      </template>
    </nav>

    <section class="main-content columns">
      <aside class="column is-1 section">
        <p class="menu-label is-hidden-touch">
          General
        </p>
        <ul class="menu-list">
          <li
            v-for="(item, key) of menuItems"
            :key="key"
          >
            <nuxt-link
              :to="item.to"
              exact-active-class="is-active"
            >
            <span>
              <b-icon :icon="item.icon" size="is-large" />
            </span>
            </nuxt-link>
          </li>
        </ul>
      </aside>

      <div class="container column is-fullhd">
        <nuxt />
      </div>
    </section>
  </div>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      logoIcon: 'finance',
      siteName: 'Compass Charts',
      menuItems: [
        {
          title: 'Home',
          icon: 'home',
          to: { path: '/' }
        },
        {
          title: 'Time Series',
          icon: 'chart-timeline',
          to: { name: 'timeseries' }
        },
        {
          title: 'Watchlists',
          icon: 'view-list',
          to: { name: 'watchlists' }
        },
        {
          title: 'Providers',
          icon: 'database',
          to: { name: 'dataproviders' }
        },
        {
          title: 'History',
          icon: 'history',
          to: { name: 'history' }
        },
        {
          title: 'Settings',
          icon: 'settings',
          to: { name: 'settings' }
        }
      ]
    }
  },
  methods: {
    logout() {
      this.$auth.logout()
      this.$auth.redirect('login')
    }
  }
}
</script>
