<template>
  <b-tabs type="is-toggle" expanded>
    <b-tab-item v-for="dashboard in data" :key="dashboard.id" :label="dashboard.name">
      <no-ssr v-for="timeSeries in dashboard.timeSeries" :key="timeSeries.timeSeries" :label="timeSeries.timeSeries">
        <TradingViewChartContainer :symbol="getTicker(timeSeries)" />
      </no-ssr>
    </b-tab-item>
    <b-tab-item v-if="initLoadComplete" class="is-success" label="+">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column">
                <div class="box">
                  <!-- Dashboard name -->
                  <div class="field">
                    <label class="label">Dashboard Name</label>
                    <div class="control has-icons-left">
                      <input class="input" type="email" placeholder="e.g. My Dashboard" v-model="newDashboardDetails.name" required>
                      <span class="icon is-small is-left">
                        <b-icon icon="home" size="is-small"/>
                      </span>
                    </div>
                  </div>
                  <!-- Time Series Codes -->
                  <div class="field">
                    <label class="label">Select Time Series Code</label>
                    <div class="control">
                      <TimeSeriesCodeSelect v-model="newDashboardDetails.timeSeries" @change="handleTimeSeriesCodeSelected"/>
                    </div>
                  </div>
                  <!-- Save Button -->
                  <div class="field">
                    <button class="button is-success" v-on:click.prevent="saveNewDashboard">
                    Save
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </b-tab-item>
  </b-tabs>
</template>

<script>
import { mapActions } from 'vuex'
import TradingViewChartContainer from '@/components/tradingview/TradingViewChartContainer.vue'
import TimeSeriesCodeSelect from '@/components/controls/TimeSeriesCodeSelect'
export default {
  name: 'HomePage',
  components: {
    TimeSeriesCodeSelect,
    TradingViewChartContainer
  },
  head() {
    return {
      script: [
        { src: '/datafeeds/udf/dist/polyfills.js' },
        { src: '/datafeeds/udf/dist/bundle.js' },
        { src: '/charting_library/charting_library.min.js' }
      ]
    }
  },
  data() {
    return {
      data: [],
      initLoadComplete: false,
      newDashboardDetails: {
        name: '',
        timeSeries: []
      }
    }
  },
  methods: {
    ...mapActions({
      getDashboards: 'dashboard/getDashboards',
      newDashboard: 'dashboard/newDashboard'
    }),
    getTicker(selectedTimeSeries) {
      let ticker = ''
      if (selectedTimeSeries != null && selectedTimeSeries != '') {
        ticker = selectedTimeSeries.code
        if (selectedTimeSeries.data_feed_code != null && selectedTimeSeries.data_feed_code != '') {
          ticker = selectedTimeSeries.data_feed_code + ':' + selectedTimeSeries.code
        }
      }
      return ticker
    },
    handleTimeSeriesCodeSelected(value) {
      this.newDashboardDetails.timeSeries = value
    },
    async loadAsyncData() {
      this.loading = true
      this.data = await this.getDashboards()
      this.loading = false
      this.initLoadComplete = true
    },
    async saveNewDashboard() {
      if (this.newDashboardDetails != null) {
        await this.newDashboard(this.newDashboardDetails)
        this.newDashboardDetails = {
          name: '',
          timeSeries: []
        }
        this.initLoadComplete = false
        this.initLoadComplete = true
      }
    }
  },
  mounted() {
    this.loadAsyncData()
  }
}
</script>
