<template>
  <TradingViewChartContainer />
</template>

<script>
import TradingViewChartContainer from '@/components/tradingview/TradingViewChartContainer.vue'
export default {
  layout: 'noAuthLayout',
  head() {
    return {
      script: [
        { src: '/datafeeds/udf/dist/polyfills.js' },
        { src: '/datafeeds/udf/dist/bundle.js' },
        { src: '/charting_library/charting_library.min.js' }
      ]
    }
  },
  components: {
    TradingViewChartContainer
  }
}
</script>
