<template>
  <multiselect
    :value="selected"
    :options="data"
    :multiple="true"
    :close-on-select="true"
    placeholder="Category"
    label="category"
    track-by="category"
    :loading="loading"
    @input="updateSelected">
  </multiselect>
</template>

<script>
import { mapActions } from 'vuex'
import Multiselect from 'vue-multiselect'
export default {
  name: 'CategorySelect',
  components: {
    Multiselect
  },
  props: {
    value: Array
  },
  data() {
    return {
      data: [],
      selected: [],
      loading: false
    }
  },
  methods: {
    ...mapActions({
      getCategories: 'refdata/getCategories'
    }),
    updateSelected(selected) {
      this.selected = selected
      this.$emit('change', selected)
    },
    async loadAsyncData() {
      this.loading = true
      this.data = await this.getCategories()
      this.loading = false
    }
  },
  mounted() {
    this.loadAsyncData()
  }
}
</script>
