<template>
  <multiselect
    :value="selected"
    :options="data"
    :multiple="true"
    :close-on-select="true"
    placeholder="Exchange"
    label="exchange"
    track-by="exchange"
    :loading="loading"
    @input="updateSelected">
  </multiselect>
</template>

<script>
import { mapActions } from 'vuex'
import Multiselect from 'vue-multiselect'
export default {
  name: 'ExchangeSelect',
  components: {
    Multiselect
  },
  props: {
    value: Array
  },
  data() {
    return {
      data: [],
      selected: [],
      loading: false
    }
  },
  methods: {
    ...mapActions({
      getExchanges: 'refdata/getExchanges'
    }),
    updateSelected(selected) {
      this.selected = selected
      this.$emit('change', selected)
    },
    async loadAsyncData() {
      this.loading = true
      this.data = await this.getExchanges()
      this.loading = false
    }
  },
  mounted() {
    this.loadAsyncData()
  }
}
</script>
