<template>
  <multiselect
    :value="selected"
    :options="data"
    :multiple="true"
    :close-on-select="true"
    placeholder="Time Series Code"
    label="code"
    track-by="code"
    :loading="isLoading"
    :options-limit="optionsLimit"
    :limit="limit"
    :limit-text="limitText"
    :internal-search="false"
    :clear-on-select="false"
    @search-change="asyncFind"
    @input="updateSelected"
    >
  </multiselect>
</template>

<script>
import _ from 'lodash'
import Multiselect from 'vue-multiselect'
export default {
  name: 'TimeSeriesCodeSelect',
  components: {
    Multiselect
  },
  props: {
    value: Array
  },
  data() {
    return {
      data: [],
      selected: [],
      isLoading: false,
      optionsLimit: 300,
      limit: 10
    }
  },
  methods: {
    limitText(count) {
      return `and ${count} other codes`
    },
    asyncFind: _.debounce(async function (query) {
      if (query !== '') {
        this.isLoading = true
        const response = await this.$axios.$get('refdata/timeseriescode', {
          params: {
            'query': query,
            'limit': this.optionsLimit
          }
        })
        this.data = response.data
        this.isLoading = false
      }
    }, 500),
    clearAll() {
      this.selected = []
    },
    updateSelected(selected) {
      this.selected = selected
      this.$emit('change', selected)
    }
  }
}
</script>
