<template>
  <TimeSeriesHistoryTable/>
</template>

<script>
import TimeSeriesHistoryTable from '@/components/history/TimeSeriesHistoryTable.vue'
export default {
  components: {
    TimeSeriesHistoryTable
  }
}
</script>
